<!-- Modals -->
    <div tabindex="-1" class="modal fade" id="complete-dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <a href="https://www.freelancer.in/affiliates/email/7832203/"><img src="https://cdn5.f-cdn.com/ppic/57385502/logo/7832203/profile_logo_7832203.jpg" style="float: left; margin-right: 20px; margin-bottom:10px; width:100px; max-height: 100px; border-radius: 5px;"></a>
                        <div style="min-height:40px;">
                            <a style="text-decoration: underline; font-weight: bold;" href="https://www.freelancer.in/affiliates/email/7832203/">JAY SHAH</a>
                            <p style="margin: 0;margin-bottom: 6px; white-space: nowrap;overflow: hidden">Highly Experienced Full Stack Developer With 5+Yr</p>
                            <p style="margin: 0;">
                                <strong>P:</strong> 9099293573
                            </p>
                            <p style="margin: 0;"><strong>E:</strong> shah.shreeji248@gmail.com</p>
                        </div>
                        <img src="https://www.freelancer.in/static/css/images/landingpage/hireme-widget-builder/fl-bird-icon.png" style="clear:left;float:left;margin: 10px 0;">
                        <a href="https://www.freelancer.in/affiliates/email/7832203/" style="display: block;text-decoration: underline;margin: 10px 0 10px 10px;vertical-align: middle;height: 21px;float: left">Hire me on Freelancer.com</a>
                        <img src="//t.flnwdgt.com/1px.gif?username=DevelopmentFreak&amp;en=externalHireme&amp;method=img&amp;label=hiremeEmailImpression&amp;ip=183.83.35.188&amp;type=emailSignature" alt="" style="float:left;">
                    </div>
                </div>
                <div class="pmd-modal-action pmd-modal-bordered text-right">
                    <button data-dismiss="modal" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>